<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="_csrf_key" th:content="${_csrf_key}"/>
    <meta name="_csrf_token" th:content="${_csrf_token}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login_register.css}" href="./css/login_register.css">
    <title>找回密码 - 用户认证系统</title>
</head>
<body>
<div class="left-fill"></div>
<form class="form-frame" th:href="@{/forget-password/auth}"
      th:action="@{/api/user/reset_password/start}" onsubmit="return false">
    <header>
        <div class="title">用户认证系统</div>
        <div class="navbar">
            <div class="fill"></div>
                <a href="../login.html" th:href="@{/login}">返回登陆</a>
                <span>找回密码</span>
            <div class="fill"></div>
        </div>
    </header>
    <div class="form-item">
        <label for="username">用户名/手机号/邮箱</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div class="form-item">
        <div id="captcha">
            <div id="text">
                行为验证™ 安全组件加载中
            </div>
            <div id="wait" class="show">
                <div class="loading">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="result"></div>
    <div class="submit">
        <button>提交</button>
    </div>
</form>
<div class="right-fill"></div>

<script src="https://cdnjs.loli.net/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:src="@{/js/common/csrf.js}"></script>
<script th:src="@{/js/gt.js}"></script>
<script th:src="@{/js/login_register.js}" src="../js/login_register.js"></script>
</body>
</html>