<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="_csrf_key" th:content="${_csrf_key}"/>
    <meta name="_csrf_token" th:content="${_csrf_token}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>登陆到用户认证系统</title>
</head>
<body>
    <form th:href="@{/admin}" th:action="@{/api/user/login}" onsubmit="return false">
        <header>登陆到用户认证系统</header>
        <div class="form-item">
            <label for="username">用户名/邮箱/手机号</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-item">
            <label for="password">密码</label>
            <input type="password" id="password" name="password" required>
        </div>
        <a th:href="@{/register}">注册</a>
        <a th:href="@{/reset-password}">找回密码</a>
        <input type="submit">
    </form>

    <script src="//cdnjs.loli.net/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:src="@{/js/common/csrf.js}"></script>
    <script th:src="@{/js/login_register.js}"></script>
</body>
</html>